@font-face {
    font-family: geom_normal;
    src: url(src/geometria-cufonfonts/Geometria.ttf);

}
@font-face {
    font-family: geom_bold;
    src: url(src/geometria-cufonfonts/Geometria-Bold.ttf);
}


*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 207.7vh;
    background-image: url(mainbackground.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
